/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-700 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #23155B;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header styles start */

.header {
    position: fixed;
    top: 0;
    width: 1420px;
    height: 120px;
    transition: .2s linear;
    padding-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 26px;
    z-index: 999;
}

.header__logo-name {
    width: 130px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.header__logo-name :hover,
.header__logo-name :active,
.header__logo-name :focus {
    text-decoration: underline;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 16px;
    line-height: 28px;
    color: #23155B;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .75;
}

.join__now {
    width: 121px;
    padding: 12px 24px;
    background: #8053FF;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: auto 0 0 0;
    border: 0;
    cursor: pointer;
}

.join__now:hover,
.join__now:active,
.join__now:focus {
    background: #6249ab
}


/* Header styles end */


/* Intro styles start */

.intro {
    position: relative;
    max-width: 1420px;
    height: 600px;
    padding-left: 250px;
    padding-right: 250px;
    top: 120px;
    background: #FBFAFF;
    border-radius: 24px;
}

.intro__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 630px;
    height: 244px;
    left: 395px;
    top: 178px;
}

.intro__title {
    max-width: 461px;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #23155B;
    margin-bottom: 8px;
}

.intro__subtitle {
    color: #928CAB;
    max-width: 630px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 40px;
}

.button-form__info {
    display: flex;
    flex-wrap: wrap;
}

.button-form__submit-one {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: white;
    background: #8053FF;
    border-radius: 8px;
    border: 0;
    margin: 12px;
    gap: 10px;
    width: 232px;
    height: 60px;
}

.button-form__submit-one:hover,
.button-form__submit-one:focus,
.button-form__submit-one:active {
    background: #6249ab
}

.button-form__submit-two {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #8053FF;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #8053FF;
    margin: 12px;
    gap: 10px;
    width: 232px;
    height: 60px;
}

.button-form__submit-two:hover,
.button-form__submit-two:focus,
.button-form__submit-two:active {
    background: #e9e2e2
}


/* Intro styles end */